# IGNORE THE GITIGNORE
.gitignore

# IGNORE THE VENV FOLDER
venv/

# IGNORE THE PYCACHE FOLDER
__pycache__/

# IGNORE THE NOTES
Notes.md

# IGNORE THE TEST APP FILE MADE JUST FOR TESTING THE ENDPOINT PURPOSES
testApp.py